DB_URL=jdbc:mysql://localhost:3306/oficinaconectada
DB_USER=
DB_PASSWORD=
JWT_SECRET=

ADMIN_EMAIL=admin@oficina.com
ADMIN_SENHA_INICIAL=

EMAIL_HABILITADO=false
EMAIL_REMETENTE=
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
